body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    line-height: 1.3; /* Interlinado 1.3 */  
}
h1 {
    text-align: center;
}
h2 {
    text-align: left;
    color: blue;
}
p {
    text-align: justify;
}
li {
    margin-bottom: 1rem;   /* espacio entre cada punto de la lista */
    line-height: 1.3;      /* mejora la legibilidad */
}
td, th {
  padding: 1vh 1vw;
}
.contenido {
    max-width: 120ch; /* Limita el ancho del contenido para mejorar la legibilidad a 120 caracteres, ahora se adapta a la pantalla además */
    margin: 5vh auto; /* Centra el contenido vertical y horizontalmente */
                      /* el 5vh es para que tenga un margen superior e inferior y significa 5% de la altura de la ventana */
    padding: 3vw; /* Añade un poco de espacio interior */
    background: white;
}
.pie {
    text-align: center;
}
.menu{
    list-style: none;
    background-color: black;
    
    position: absolute;
    top: 0;            /* Pegado arriba del todo */
    left: 0;
    width: 100%;       /* Que ocupe todo el ancho */

    margin: 0;
    padding: 0;
    z-index: 1000;     /* Para que quede por encima de todo */
    
}
.menu li{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li:hover ul{
    display: block;
}
.menu li a:hover{
    color: rgb(255, 242, 0);
}
.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
}
.menu ul li a{
    display: block;
    margin: 0;
    padding : 10px;
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
color : rgb(255, 242, 0);
}
.negrita {
    font-weight: bold;
    text-align: center;
}
.color {
    color: rgb(51, 0, 255);
}
.enlace_bonito a {
    text-decoration: none;
    color: rgb(2, 2, 13);
}
.enlace_bonito a:hover {
    color: rgb(255, 0, 0);
}